<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="#" class="logo">
                <img src="/img/logo.svg" alt="Justice Law Firm " />
            </a>

            <nav class="nav">
                <ul class="nav-list">
                    <li>
                        <a href="#" class="active up"
                            >Home <span class="arrow"></span
                        ></a>
                    </li>
                    <li>
                        <a href="#">About <span class="arrow"></span></a>
                    </li>
                    <li>
                        <a href="#"
                            >Practice Areas <span class="arrow"></span
                        ></a>
                    </li>
                    <li><a href="#">Attorneys</a></li>
                    <li>
                        <a href="#">Page <span class="arrow"></span></a>
                    </li>
                </ul>
            </nav>

            <div class="contact">
                <span>Call :</span>
                <strong>(000) 123 456 789</strong>
            </div>
        </div>
    </div>
</header>
