$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);


$Manrope-font: "Manrope", sans-serif;
$Roboto-Slab-font: "Roboto Slab", serif;
$DM-Sans-font: "DM Sans", sans-serif;